@using StoryPromptMVC.Models.PromptStory
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PromptWithStoriesVM

<div class="container-fluid bgContent mt-3 pb-3 pt-3 border-bottom">
    <div class="row">
        <div class="col text-center justify-content-center d-flex">
            <h5 class="text-muted">Prompt by <a asp-controller="profile" asp-action="index" asp-route-id="@Model.Prompt.user.Id"><strong>@Model.Prompt.user.UserName </strong></a> |  Post on: @Model.Prompt.promptDateCreated</h5>
        </div>
    </div>
    <div class="border-light border-bottom"></div>
    <div class="row mt-2">
        <p>
            @Model.Prompt.promptContent
        </p>
    </div>
    <div class="row">
        <div class="col">

            <div class="d-flex align-items-center mt-2">

                <form asp-controller="PromptReaction" asp-action="upvote" method="post">
                    <i class="fa-solid fa-thumbs-up m-2 like"
                       style="cursor: pointer;"
                       onclick="this.closest('form').submit();"></i>
                </form>
                <div class="">
                    <strong>@Model.Prompt.reactionCount</strong>
                </div>
                <form asp-controller="PromptReaction" asp-action="downvote" method="post">
                    <i class="fa-solid fa-thumbs-down m-2 dislike"
                       style="cursor: pointer;"
                       onclick="this.closest('form').submit();"></i>
                </form>


            </div>
        </div>
        <div class="col"></div>
        <div class="col d-flex justify-content-end">
            <a class="text-black m-2 text-decoration-none" asp-controller="story" asp-action="comments">
                

            </a>
        </div>
    </div>
</div>
<div class="row m-3">
    <div class="col d-flex justify-content-center">
        <div class="d-flex">
            <h3>Check out the stories written for this prompt or... &nbsp;</h3>
            <a asp-controller="" asp-action="" asp-route-Id="@Model.Prompt.id">
                <button class="btn btn-info">Create your own</button>
            </a>
        </div>
    </div>
</div>
<div class="justify-content-center d-flex">
    <h4>
        <small class="text-muted">@Model.Prompt.storyCount stories  <i class="fa-solid fa-comment"></i></small>
    </h4>
</div>
<div class="container-fluid mt-0 border-right border-left">
    @foreach (var story in Model.Stories)
    {
        <div class="card container-fluid mt-3 pb-3 pt-3 border-bottom">
            <div class="row">
                <div class="col text-left d-flex">
                    <small class="text-muted">By <a asp-controller="profile" asp-action="index" asp-route-id="@story.user.Id"><strong>@story.user.UserName </strong></a> |  Post on: @story.StoryDateCreated</small>
                </div>
            </div>
            <div class="row">
                <p>
                    @story.StoryContent
                </p>
            </div>
            <div class="row">
                <div class="col">

                    <div class="d-flex align-items-center mt-2">

                        <form asp-controller="StoryReaction" asp-action="upvote" method="post">
                            <i class="fa-solid fa-thumbs-up m-2 like"
                               style="cursor: pointer;"
                               onclick="this.closest('form').submit();"></i>
                        </form>
                        <div class="">
                            <strong>@story.ReactionCount</strong>
                        </div>
                        <form asp-controller="PromptReaction" asp-action="downvote" method="post">
                            <i class="fa-solid fa-thumbs-down m-2 dislike"
                               style="cursor: pointer;"
                               onclick="this.closest('form').submit();"></i>
                        </form>


                    </div>
                </div>
                <div class="col"></div>
                
            </div>
        </div>
    }
</div>
